<div class="sidebar">
  <!-- new -->
  <div class="sidebar__top">
    <h2 class="sidebar__title">Меню</h2>
    <div class="sidebar__right">
      <button type="button" class="btn-reset btn-close" data-btn-close>
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
  <!-- end -->
  <div class="sidebar__menu menu">
    <ul class="list-reset menu__list">
      <li class="menu__item">
        <a href="/lk" class="menu__link">Клиенты</a>
      </li>
      <li class="menu__item">
        <a href="/lk/calc" class="menu__link">Калькулятор</a>
      </li>
    </ul>
  </div>
</div>
