{% extends 'main/base.html' %} {% block content %}
{% load static %}
<div id="app">
<main class="main">
    <header class="header">
        <div class="container header__container section-container">
            <h1 class="header__title title title--h1" onclick="location.href='/admin'" style="cursor: pointer;">Калькулятор расчета стоимости</h1>
        </div>
        
        
    </header>

    <section class="hero">
        <div class="container hero__container section-container">
            <!-- item -->
            <div class="hero__item" v-for="item in items">
                <!-- accordion-btn -->
                <button class="btn-reset accordion hero__accordion active" @click="openItem(item.id)" :id="item.id">
                    <div class="hero__accordion-content">
                        Стоимость: {* item.result.total *}
                        <span>Кол-во: {* item.result.count *}</span>
                    </div>
                </button>
                <!-- accordion-content -->
                <div class="panel hero__panel" style="max-height: 100%;" :id="item.id">
                    <div class="hero__left">
                        <ul class="list-reset hero-calc__list">

                            {% comment %} <li class="hero-calc__item">
                                <h3 class="hero-calc__title title title--h3">Коэффициенты</h3>
                                <form action="#" class="hero-calc__form">
                                    <label class="custom-checkbox hero-calc__form-item"
                                        v-for="coefficient in coefficients">
                                        <input type="radio" name="coefficient"
                                            v-on:click="changeCoefficient(item.id, coefficient)"
                                            class="custom-checkbox__field">
                                        <span class="custom-checkbox__content custom-checkbox__content--radio"></span>
                                        {* coefficient.value *}
                                    </label>
                                </form>
                            </li> {% endcomment %}
                            <li class="hero-calc__item">
                                <h3 class="hero-calc__title title title--h3">Коэффициенты</h3>
                                <form action="#" class="hero-calc__form">
                  
                                  <!-- select-->
                                  <div class="select">
                                    <input class="select__input" type="hidden" name="">
                                    <div class="select__head" v-on:click="openSelect(item.id)" :id='item.id'>{* item.result.coefficient.value *}</div>
                                    <ul class="select__list" :id='item.id' style="display: none;">
                                      <li class="select__item" v-on:click="changeCoefficient(item.id, coefficient)" v-for='coefficient in coefficients'>{* coefficient.value *}</li>
                                    </ul>
                                  </div>
                  
                                </form>
                              </li>


                            <li class="hero-calc__item">
                                <h3 class="hero-calc__title title title--h3">Диаметр коронки</h3>
                                <form action="#" class="hero-calc__form">
                                    <label class="custom-checkbox hero-calc__form-item" v-for="diameter in diameters">
                                        <input type="radio" v-bind:value="diameter"
                                            v-on:click="changeDiameter(item.id, diameter)" name="crown"
                                            class="custom-checkbox__field">
                                        <span class="custom-checkbox__content custom-checkbox__content--radio"></span>
                                        {* diameter.value *}
                                    </label>
                                </form>
                            </li>

                            <li class="hero-calc__item">
                                <h3 class="hero-calc__title title title--h3">Материал стены</h3>
                                <form action="#" class="hero-calc__form" v-for="currentItem in items"
                                    v-if="currentItem.id == item.id">
                                    <div v-if="currentItem.result.diameters.material == null">
                                        Не выбран диаметр
                                    </div>
                                    <label class="custom-checkbox hero-calc__form-item"
                                        v-for="material in currentItem.result.diameters.material">
                                        <input type="radio" name="material" :id="material"
                                            v-on:click="changeMaterial(item.id, material)"
                                            class="custom-checkbox__field">
                                        <span name="mat"
                                            class="custom-checkbox__content custom-checkbox__content--radio"></span>
                                        {* material.value *}
                                    </label>
                                </form>
                            </li>


                            <li class="hero-calc__item">
                                <h3 class="hero-calc__title title title--h3">Толщина стены</h3>
                                <form>
                                    <div class="range">
                                        <input class="range__slider" :id="'slider'+item.id" max="200" min="0"
                                            v-on:input="slider('slider', item.id)" type="range" value="0">
                                        <label class="label" for="amount">
                                            <span>Значение, см</span>
                                            <input class="input-reset range__amount input" :id="'amount'+item.id"
                                                v-on:input="slider('amount', item.id)" type="number" value="0">
                                            <div class="tooltip">
                                                <i class="fa-solid fa-circle-info"></i>
                                                <span class="tooltip__text">Сантиметров</span>
                                            </div>
                                        </label>
                                    </div>
                                </form>
                            </li>

                            <!-- item-holes -->
                            <li class="hero-calc__item">
                                <h3 class="hero-calc__title title title--h3">Количество отверстий</h3>
                                <!-- counter -->
                                <form class="hero-calc__form-counter">
                                    <button type="button" class="btn-reset accordion__btn btn btn--counter"
                                        v-on:click="btnCountMinus(item.id)">
                                        <i class="fa-solid fa-minus"></i>
                                    </button>
                                    <label class="label label--mini label--counter">
                                        <input class="input-reset range__amount input" :id="'count'+item.id"
                                            type="number" :value="item.result.count" v-on:input="inputCount(item.id)">
                                        <div class="tooltip">
                                            <i class="fa-solid fa-circle-info"></i>
                                            <span class="tooltip__text">Введите кол-во отверстий</span>
                                        </div>
                                    </label>
                                    <button type="button" v-on:click="btnCountPlus(item.id)"
                                        class="btn-reset accordion__btn btn btn--counter">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>

                    <div class="hero__right">
                        <div class="result-block">
                            <div class="result-block__top result-block__top--hero">
                                <h3 class="result-block__title">Стоимость</h3>
                                <span class="result-block__price">{* item.result.total *} руб</span>
                                <span class="result-block__add">Кол-во: {* item.result.count *}</span>
                            </div>
                            <ul class="list-reset result-block__list">
                                <li class="result-block__item result-item">
                                    <div class="result-item__name">
                                        Диаметр коронки:
                                        <span class="result-item__value">{* item.result.diameters.value *}</span>
                                    </div>
                                    <div class="result-item__price">{* item.result.diameters.total *} руб</div>
                                </li>
                                <li class="result-block__item result-item">
                                    <div class="result-item__name">
                                        Материал стены:
                                        <span class="result-item__value">{* item.result.material.value *}</span>
                                    </div>
                                </li>
                                <li class="result-block__item result-item">
                                    <div class="result-item__name">
                                        Толщина стены:
                                        <span class="result-item__value">{* item.result.thickness.value *} см</span>
                                    </div>
                                </li>

                                <li class="result-block__item result-item">
                                    <div class="result-item__name">
                                        Коэффициент:
                                        <span class="result-item__value">{* item.result.coefficient.value *}</span>
                                    </div>
                                    <div class="result-item__price">{* item.result.coefficient.price *} руб</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- btn-delete -->
                <button class="btn-reset accordion__btn btn btn--mini hero__btn" @click="delItem(item.id)">
                    <i class="fa-solid fa-trash"></i>
                </button>
                <!-- item-info-mini -->
                <div class="hero__item-info result-block">
                    <ul class="list-reset result-block__list result-block__list--mini">
                        <li class="result-block__item result-item">
                            <div class="result-item__name">
                                <span class="result-item__name-text">Д-тр коронки:</span>
                                <i class="fa-regular fa-circle">:</i>
                                <span class="result-item__value">{* item.result.diameters.value *}</span>
                            </div>
                            <!-- <div class="result-item__price">700 руб</div> -->
                        </li>
                        <li class="result-block__item result-item">
                            <div class="result-item__name">
                                <span class="result-item__name-text">Т-на стены:</span>
                                <i class="fa-solid fa-grip-lines-vertical">:</i>
                                <span class="result-item__value">{* item.result.thickness.value *} см</span>
                            </div>
                            <!-- <div class="result-item__price">700 руб</div> -->
                        </li>
                        <li class="result-block__item result-item">
                            <div class="result-item__name">
                                <span class="result-item__name-text">М-ал стены:</span>
                                <i class="fa-regular fa-gem">:</i>
                                <span class="result-item__value">{* item.result.material.value *}</span>
                            </div>
                            <!-- <div class="result-item__price">700 руб</div> -->
                        </li>
                        <li class="result-block__item result-item">
                            <div class="result-item__name">
                                <span class="result-item__name-text">Коэф:</span>
                                <i class="fa-solid fa-ruler-vertical">:</i>
                                <span class="result-item__value">{* item.result.coefficient.value *}</span>
                            </div>
                            <!-- <div class="result-item__price">700 руб</div> -->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hero__bottom">
                <button class="btn-reset btn hero__btn" @click="addNewItem()">
                    <i class="fa-solid fa-plus"></i>
                    Добавить отверстие
                </button>
            </div>
    </section>
    <section class="distance">
        <div class="container distance__container section-container">
            <h2 class="distance__title title title--h3">Удаленность от МКАД</h2>
            <div class="distance__form form">
                <label class="form__label label distance__label">
                    <span>Название НП</span>
                    <input type="text" id="remValue" name="название" v-on:input="inputRemotenessValue()"
                        class="input-reset input distance__input form__input" placeholder="Химки" value="">
                    <div class="tooltip">
                        <i class="fa-solid fa-circle-info"></i>
                        <span class="tooltip__text">Название населенного пункта до МКАД</span>
                    </div>


                </label>
                <button class="btn-reset btn distance__btn" @click="remoteness()">Рассчитать</button>
            </div>
        </div>
    </section>

    <section class="result">
        <div class="container result__container">
            <div class="result-block section-container">
                <div class="result-block__top">
                    <h3 class="result-block__title">Предварительная стоимость</h3>
                    <span class="result-block__price">{* result.total *} руб</span>
                </div>
                <ul class="list-reset result-block__list">
                    <li class="result-block__item result-item">
                        <div class="result-item__name">
                            Удаленность от МКАД:
                            <span class="result-item__value">{* result.remoteness.value *} {* result.remoteness.range *} км</span>
                        </div>
                        <div class="result-item__price">{* result.remoteness.total *} руб</div>
                    </li>
                </ul>
            </div>
            <div class="result-block__bottom">
                <button
                  class="btn-reset btn result-block__btn-estimate"
                  data-graph-path="estimate"
                >
                  Смета
                </button>
              </div>
        </div>
    </section>
</main>

 <!-- modal -->
 <div class="graph-modal">
    <div
      class="graph-modal__container"
      role="dialog"
      aria-modal="true"
      data-graph-target="estimate"
    >
      <button
        class="btn-reset js-modal-close graph-modal__close"
        aria-label="Закрыть модальное окно"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
      <div class="graph-modal__content">
        <table class="table table-estimate">
          <caption>
            Смета
            <span>вся стоимсоть в рублях</span>
          </caption>
          <thead>
            <tr>
              <th scope="col" rowspan="2">№</th>
              <th scope="col" rowspan="2">Отверстие</th>
              <th scope="col" rowspan="2">Кол-во</th>
              <th scope="col" rowspan="2">Цена за 1</th>
              <th scope="col" rowspan="2">Общая стоимость</th>
            </tr>
          </thead>
          <tbody>
            <!-- item -->
            <tr v-for="item in items">
              <td data-label="№">{* item.id + 1 *}</td>
              <td data-label="Позиция">{* item.result.diameters.value *}</td>
              <!-- Кол-во -->
              <td data-label="Кол-во">{* item.result.count *}</td>
              <!-- Цена за 1 -->
              <td data-label="Цена за 1">{* item.result.total / item.result.count *} руб</td>
              <!-- Общая стоимость -->
              <td data-label="Общая стоимость">{* item.result.total *} руб</td>
            </tr>
            <!-- item -->
            <!-- total -->
            <tr>
              <td colspan="4"></td>
              <td data-label="Общий итог">{* result.total *} руб</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}