<div id="screenPerimeter" style="display: none">
  <header class="header">
    <div class="container header__container section-container section-container--no-border">
      <h1 class="header__title title title--h1" onclick="location.href='/admin'" style="cursor: pointer;">Калькулятор
        кол-ва отверстий</h1><a href="#" class="header__link btn" style="cursor: pointer;"
        v-on:click="switchScreen('screenMain')">Калькулятор <i class="fa-solid fa-arrow-left"></i></a>
    </div>
  </header><!-- периметр проема-->

  <section class="perimeter">
    <div class="container perimeter__container">
      <!-- item -->
      <div class="hero__item" v-for="item in itemsSecondCalc">
        <!-- accordion-btn -->
        <button class="btn-reset accordion hero__accordion" @click="openItem(item.id)" :id="item.id" mode="secondBtn">
          <div class="hero__accordion-content">Стоимость: {* item.total *}</div>
        </button><!-- accordion-content -->
        <div class="panel hero__panel" v-on:click="openSelect(item.id)" :id='item.id' mode="secondPanel">
          <div class="hero__left">
            <ul class="list-reset hero-calc__list">
              <!-- item-perimeter -->
              <li class="hero-calc__item">
                <h3 class="hero-calc__title title title--h3">
                  Периметр проема
                </h3>
                <label class="form__label label perimeter__label perimeter__label--result"><span>Введите периметр
                    в см</span> <input type="number" name="значение" onfocus="this.value=''" v-model="item.perimeter"
                    v-on:input="changePerimeter(item.id)" class="input-reset input perimeter__input form__input"
                    placeholder="0">
                  <div class="tooltip"><i class="fa-solid fa-circle-info"></i> <span class="tooltip__text">В см</span>
                  </div>
                </label>
              </li>
              <!-- item-thickness -->
              <li class="hero-calc__item">
                <h3 class="hero-calc__title title title--h3">
                  Толщина стены
                </h3>
                <form>
                  <div class="range">
                    <input class="range__slider" :id="'sliderSC'+item.id" max="200" min="0"
                      v-on:input="sliderSecondCalc(item.id, 'sliderSC')" type="range" value="0">
                    <label class="label" for="amount">
                      <span>Значение, см</span>
                      <input class="input-reset range__amount input" :id="'amountSC'+item.id" onfocus="this.value=''"
                        v-on:input="sliderSecondCalc(item.id, 'amountSC')" type="number" value="0">
                      <div class="tooltip">
                        <i class="fa-solid fa-circle-info"></i>
                        <span class="tooltip__text">Сантиметров</span>
                      </div>
                    </label>
                  </div>
                </form>
              </li>
              <!-- item-material  -->
              <li class="hero-calc__item">
                <h3 class="hero-calc__title title title--h3">
                  Материал стены
                </h3>
                <form action="#" class="material__form form">
                  <label class="custom-checkbox hero-calc__form-item"
                    v-for="materialSecond in diameterSecondCalc.material">
                    <input checked type="radio" name="material" mode="second" :id="item.id"
                      v-on:click="changeMaterialSecond(item.id, materialSecond)" class="custom-checkbox__field"> <span
                      class="custom-checkbox__content custom-checkbox__content--radio"></span> {* materialSecond.value *} </label>
                </form>
              </li>

              <li class="hero-calc__item">
                <h3 class="hero-calc__title title title--h3">Количество проемов</h3>
                <!-- counter -->
                <form class="hero-calc__form-counter">
                    <button type="button" class="btn-reset accordion__btn btn btn--counter"
                        v-on:click="btnCountMinus(item.id)">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                    <label class="label label--mini label--counter">
                        <input class="input-reset range__amount input" onfocus="this.value=''" :id="'countAperture'+item.id"
                            type="number" 
                            v-on:input="inputCountAperture(item.id)">
                        <div class="tooltip">
                            <i class="fa-solid fa-circle-info"></i>
                            <span class="tooltip__text">Введите кол-во проемов</span>
                        </div>
                    </label>
                    <button type="button" v-on:click="btnCountPlus(item.id)"
                        class="btn-reset accordion__btn btn btn--counter">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </form>
            </li>
            </ul>
          </div>
          <!-- item-list-total -->
          <div class="hero__right">
            <div class="result-block">
              <div class="result-block__top result-block__top--hero">
                <h3 class="result-block__title">Стоимость</h3>
                <span class="result-block__price">{* item.total *} руб</span>
              </div>
              <ul class="list-reset result-block__list">
                <li class="result-block__item result-item">
                  <div class="result-item__name">
                    Кол-во отверстий:
                    <span class="result-item__value">{* item.circleCount *}</span>
                  </div>
                  <div class="result-item__price">
                    Одно отверстие: {* item.circlePrice *} руб
                  </div>
                </li>
                <li class="result-block__item result-item">
                  <div class="result-item__name">
                    Периметр проема:
                    <span class="result-item__value">{* item.perimeter *} см</span>
                  </div>
                  {% comment %} <div class="result-item__price"></div> {% endcomment %}
                </li>
                <li class="result-block__item result-item">
                  <div class="result-item__name">
                    Материал стены:
                    <span class="result-item__value">{* item.material.value *}</span>
                  </div>
                  <div class="result-item__price">{* item.material.price *} руб</div>
                </li>
                <li class="result-block__item result-item">
                  <div class="result-item__name">
                    Толщина стены:
                    <span class="result-item__value">{* item.thickness *} см</span>
                  </div>
                  {% comment %} <div class="result-item__price"></div> {% endcomment %}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- btn-delete -->
        <button class="btn-reset accordion__btn btn btn--mini hero__btn" v-on:click="delItemFromSecondCalc(item.id)">
          <i class="fa-solid fa-trash"></i></button><!-- item-info-mini -->
        <div class="hero__item-info">
          <ul class="list-reset result-block__list result-block__list--mini">
            <li class="result-block__item result-item">
              <div class="result-item__name">
                <span class="result-item__name-text">Кол-во отверстий:</span>
                <i class="fa-regular fa-circle">:</i>
                <span class="result-item__value">{* item.circleCount *}</span>
              </div>
              <!-- <div class="result-item__price">700 руб</div> -->
            </li>
            <li class="result-block__item result-item">
              <div class="result-item__name">
                <span class="result-item__name-text">Т-на стены:</span>
                <i class="fa-solid fa-grip-lines-vertical">:</i>
                <span class="result-item__value">{* item.thickness *}</span>
              </div>
              <!-- <div class="result-item__price">700 руб</div> -->
            </li>
            <li class="result-block__item result-item">
              <div class="result-item__name">
                <span class="result-item__name-text">М-ал стены:</span>
                <i class="fa-regular fa-gem">:</i>
                <span class="result-item__value">{* item.material.value *}</span>
              </div>
              <!-- <div class="result-item__price">700 руб</div> -->
            </li>
            <li class="result-block__item result-item">
              <div class="result-item__name">
                <span class="result-item__name-text">Периметр проема:</span>
                <i class="fa-solid fa-ruler-vertical">:</i>
                <span class="result-item__value">{* item.perimeter *}</span>
              </div>
              <!-- <div class="result-item__price">700 руб</div> -->
            </li>
          </ul>
        </div>
      </div>
      <div class="hero__bottom perimeter__bottom">
        <button class="btn-reset btn hero__btn" v-on:click="addNewItemSecondCalc()">
          <i class="fa-solid fa-plus"></i> Добавить периметр
        </button>
      </div>
    </div>
  </section>
</div>