<!-- sidebar -->
<button type="button" class="btn-reset btn sidebar-btn-active">Открыть</button>

<div class="sidebar">
    <!-- new -->
    <div class="sidebar__top">
        <h2 class="sidebar__title">Примечание</h2>



        <div class="sidebar__right">
            <button type="submit" class="btn-reset sidebar__btn btn btn--form"
                v-on:click="postClientData()">Сохранить</button>
            <button type="button" class="btn-reset btn-close" data-btn-close>
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>


    </div>

    <div style="margin-bottom: 10px;">
        <b style="display: none; color: green; font-size: large;" id="msgDataIsSaved">Данные сохранены</b>
        <b style="display: none; color: red; font-size: large;" id="msgNoDateOrTime">Нет дата/время</b>
    </div>
    <!-- end -->
    <form action="#" class="form sidebar__form">
        <label class="form__label label">
            <span>Номер телефона</span>
            <input type="tel" autocomplete="off" v-on:input="enterPhone" v-model="clientData.phone"
                v-mask="'+7(###)###-##-##'" name="Номер телефона" class="input-reset input sidebar__input"
                placeholder="Номер телефона" id="tel">
            <button type="button" v-on:click="clearClientData('phone')" class="btn-reset sidebar__btn-clean"
                onclick="document.getElementById('tel').value = ''" style="display: none" id="tel-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </label>
        <!-- new -2 -->
        <div class="form-tel">
            <ul class="list-reset form-tel__list">
                <li v-for="client in clients" v-on:click="phoneSelect(client.id)">
                    {* client.phone *}
                </li>
            </ul>
        </div>
        <!-- end -->
        <label class="form__label label">
            <span>ФИО клиента</span>
            <input type="text" autocomplete="off" v-model="clientData.fio" name="ФИО"
                class="input-reset input sidebar__input" placeholder="Фамилия, Имя, Отчество" id="name">
            <button type="button" v-on:click="clearClientData('fio')" class="btn-reset sidebar__btn-clean"
                onclick="document.getElementById('name').value = ''" style="display: none" id="name-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </label>
        <label class="form__label label">
            <span>Email клиента</span>
            <input type="email" autocomplete="off" v-model="clientData.email" name="Почта"
                class="input-reset input sidebar__input" placeholder="Почта" id="mail">
            <button type="button" v-on:click="clearClientData('email')" class="btn-reset sidebar__btn-clean"
                onclick="document.getElementById('mail').value = ''" style="display: none" id="mail-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </label>
        <label class="form__label label">
            <span>Заметка</span>
            <textarea class="sidebar__textarea input textarea" v-model="clientData.note" name="notes" id="notes"
                placeholder="Подробности"></textarea>
            <button type="button" v-on:click="clearClientData('note')" class="btn-reset sidebar__btn-clean"
                onclick="document.getElementById('notes').value = ''" style="display: none" id="notes-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </label>
        <label class="form__label label">
            <span>Дата</span>
            <input type="date" v-model="clientData.date" name="Дата" class="input-reset input sidebar__input"
                placeholder="Дата" id="date">
        </label>
        <label class="form__label label">
            <span>Время</span>
            <input type="time" v-model="clientData.time" name="Время" class="input-reset input sidebar__input"
                placeholder="Время" id="time">
        </label>
    </form>
</div>