/* stylelint-disable color-function-notation */
:root {
  --font-family: "Ubuntu", sans-serif;
  --content-width: 1120px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --dark-color: #4a4a4a;
  --gray-color: #777;
  --light-gray-color: #fafafa;
  --black-color: #202020;
  --border-color: rgb(209, 209, 209);
  --accent-color: #196bff;
  --box-shadow: 0 0 3px rgba(0, 0, 0, 45%);
  --box-shadow-light: 0 2px 2px rgba(0, 0, 0, 25%);
  --border-radius: 5px;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/../fonts/UbuntuRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/../fonts/UbuntuMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/../fonts/UbuntuBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  color: var(--black-color);
  background-color: var(--light-color);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.main {
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .main {
    padding: 0 10px;
    padding-bottom: 20px;
  }
}

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 10px;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  text-align: left;
  color: var(--black-color);
  background-color: var(--light-gray-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.accordion::after {
  content: "";
  float: right;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  background-image: url("../img/caret-down-solid.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .accordion::after {
    font-size: 10px;
  }
}
.accordion:hover {
  -webkit-box-shadow: var(--box-shadow-light);
  box-shadow: var(--box-shadow-light);
  background-color: var(--light-color);
}
.accordion.active {
  -webkit-box-shadow: var(--box-shadow-light);
  box-shadow: var(--box-shadow-light);
}
.accordion.active::after {
  background-image: url("../img/caret-up-solid.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.accordion--btn::after {
  background-image: url("../img/caret-down-solid-white.svg");
}
.accordion--btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.accordion--btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.accordion--btn.active::after {
  background-image: url("../img/caret-up-solid-white.svg");
}
@media (max-width: 1024px) {
  .accordion {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .accordion {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .accordion {
    padding: 5px 10px;
    font-size: 16px;
  }
}

.panel {
  overflow: hidden;
  padding: 0;
  max-height: 0;
  background-color: inherit;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.btn {
  border-radius: var(--border-radius);
  padding: 12px 20px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  text-transform: uppercase;
  color: var(--light-color);
  background-color: var(--accent-color);
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background-color: #2d76fd;
}
.btn--mini {
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
.btn--counter {
  padding: 0;
  width: 38px;
  height: 38px;
  font-size: 22px;
}
.btn--accordion {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input {
  border: 1px solid var(--dark-color);
  border-radius: var(--border-radius);
  padding: 10px 35px 10px 12px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--dark-color);
  background-color: var(--light-color);
}

.label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.label span {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.label--mini {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.label--counter {
  margin: 0 10px;
}

.custom-checkbox {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--dark-color);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-checkbox__field {
  position: absolute;
  display: none;
  opacity: 0;
  cursor: pointer;
}
.custom-checkbox__field:checked ~ .custom-checkbox__content {
  background-color: var(--light-color);
}
.custom-checkbox__field:checked ~ .custom-checkbox__content::after {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.custom-checkbox__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 8px;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  width: 18px;
  height: 18px;
  background-color: var(--light-color);
}
.custom-checkbox__content::after {
  content: "";
  display: none;
  border-radius: 4px;
  width: 12px;
  height: 12px;
  background: var(--dark-color);
}
.custom-checkbox__content--radio {
  border-radius: 100%;
}
.custom-checkbox__content--radio::after {
  border-radius: 100%;
}
.custom-checkbox__descr {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 576px) {
  .custom-checkbox__descr {
    font-size: 12px;
  }
}
.custom-checkbox:hover input ~ .custom-checkbox__content {
  background-color: var(--light-color);
}

.section-container {
  border-radius: var(--border-radius);
  padding: 20px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  background-color: var(--light-gray-color);
}
@media (max-width: 768px) {
  .section-container {
    padding: 10px;
  }
}

.title {
  margin: 0;
  font-weight: 500;
  line-height: 115%;
  color: var(--black-color);
}
.title--h1 {
  font-size: 36px;
}
@media (max-width: 1024px) {
  .title--h1 {
    font-size: 30px;
  }
}
.title--h2 {
  font-size: 32px;
}
@media (max-width: 1024px) {
  .title--h2 {
    font-size: 26px;
  }
}
.title--h3 {
  font-size: 24px;
}
@media (max-width: 1024px) {
  .title--h3 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .title--h3 {
    font-size: 18px;
  }
}

.range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.range__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  margin-right: 20px;
  width: 250px;
}
.range__slider::-webkit-slider-runnable-track {
  margin: 5px 0;
  border-radius: var(--border-radius);
  height: 5px;
  background-color: var(--dark-color);
}
.range__slider::-moz-range-track {
  border-radius: var(--border-radius);
  height: 5px;
  background-color: var(--dark-color);
}
.range__slider::-moz-focus-outer {
  border: 0;
}
.range__slider::-ms-track {
  border-radius: var(--border-radius);
  height: 5px;
  background-color: var(--dark-color);
}
.range__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -9px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: var(--accent-color);
  cursor: pointer;
}
.range__slider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  margin-top: -9px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: var(--accent-color);
  cursor: pointer;
}
.range__slider::-ms-thumb {
  margin: 0;
}
.range__slider:focus {
  outline: none;
}
@media (max-width: 576px) {
  .range__slider {
    width: auto;
  }
}

.range__amount {
  width: 100px;
}

.tooltip {
  position: absolute;
  right: 10px;
  bottom: 7px;
  display: inline-block;
  cursor: help;
}
.tooltip i {
  font-size: 20px;
  color: var(--accent-color);
}
.tooltip__text {
  position: absolute;
  left: 50%;
  bottom: 125%;
  z-index: 1;
  margin-left: -60px;
  border-radius: var(--border-radius);
  padding: 5px;
  width: 120px;
  text-align: center;
  color: var(--light-color);
  background-color: var(--gray-color);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.tooltip__text::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -5px;
  border-style: solid;
  border-width: 5px;
  border-color: var(--gray-color) transparent transparent transparent;
}

.tooltip:hover .tooltip__text {
  opacity: 1;
  visibility: visible;
}

/* stylelint-disable color-function-notation */
.graph-modal {
  background-color: rgba(0, 0, 0, 0.4);
}
.graph-modal__container {
  border-radius: var(--border-radius);
  padding: 10px;
  width: 95%;
  max-width: 1150px;
}
.graph-modal__content {
  overflow: auto;
}

table {
  table-layout: auto;
  margin: 0;
  border-collapse: collapse;
  padding: 0;
  width: 100%;
}
table caption {
  margin-bottom: 10px;
  font-size: 22px;
}
table caption span {
  font-size: 12px;
}
table tbody tr td {
  padding: 5px;
  font-size: 12px;
  line-height: 120%;
}
table tbody tr td:nth-child(2) {
  font-weight: 600;
}
table th,
table td {
  border: 1px solid var(--black-color);
  padding: 5px;
  text-align: left;
}
table th {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}
@media (max-width: 768px) {
  table thead {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: none;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
  }
  table tr {
    display: block;
    margin-bottom: 3px;
  }
  table td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    text-align: right;
  }
  table td:not(:last-child) {
    border-bottom: 0;
  }
  table tbody tr td {
    padding: 8px 5px;
  }
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: 600;
  }
}
@media (max-width: 576px) {
  table tbody tr td {
    padding: 5px;
  }
}

/* stylelint-disable color-function-notation */
.select {
  position: relative;
  display: block;
  width: 100%;
  min-width: 220px;
}
.select__head {
  border-radius: var(--border-radius);
  padding: 14px 40px 14px 15px;
  width: 100%;
  max-width: 100%;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  cursor: pointer;
}
.select__head::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 50%;
  display: block;
  width: 10px;
  height: 8px;
  background: url("../img/caret-up-solid.svg") no-repeat center/cover;
  -webkit-transform: translateY(50%) rotate(180deg);
  -ms-transform: translateY(50%) rotate(180deg);
  transform: translateY(50%) rotate(180deg);
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
@media (max-width: 1024px) {
  .select__head {
    padding: 12px 40px 12px 10px;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .select__head {
    font-size: 12px;
  }
}
.select__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 100;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  margin-top: 2px;
  border-radius: var(--border-radius);
  padding: 0;
  max-height: 205px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  font-size: 14px;
  background: var(--light-color);
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  scrollbar-color: dark;
  scrollbar-width: thin;
}
.select__list .select__item {
  position: relative;
  list-style-type: none;
  border-top: 1px solid var(--border-color);
  padding: 10px 15px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .select__list .select__item {
    padding: 8px 12px;
  }
}

.select__head.open::after {
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.select__list::-webkit-scrollbar {
  padding: 5px;
  width: 3px;
  background-color: var(--border-color);
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background-color: var(--gray-color);
}

.select__list .select__item:hover {
  background-color: rgba(224, 229, 231, 0.5);
}

/* stylelint-disable indentation */
/* stylelint-disable color-function-notation */
.nice-select,
.nice-select.open .list {
  border-radius: 8px;
  width: 100%;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.nice-select {
  position: relative;
  display: block;
  clear: both;
  float: left;
  outline: 0;
  border-radius: var(--border-color);
  padding-right: 30px;
  padding-left: 18px;
  width: 100%;
  height: 42px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  white-space: nowrap;
  text-align: left !important;
  background-color: var(--light-color);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* stylelint-disable-next-line order/order */
}
.nice-select::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  display: block;
  margin-top: -2px;
  width: 10px;
  height: 8px;
  background: url("../img/caret-up-solid.svg") no-repeat center/cover;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  pointer-events: none;
}
.nice-select .list {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 9;
  overflow-y: scroll;
  margin-top: 5px;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  padding: 52px 0 0;
  max-height: 310px;
  -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--light-color);
  opacity: 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  -o-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  pointer-events: none;
}
.nice-select .list::-webkit-scrollbar {
  width: 0;
  background-color: var(--light-color);
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.nice-select.has-multiple {
  border: 1px solid var(--ligth-color);
  border-radius: var(--border-radius);
  padding: 10px;
  padding-right: 30px;
  height: auto;
  min-height: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  white-space: inherit;
  background-color: var(--light-color);
}
.nice-select.has-multiple span.current {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 4px 10px;
  font-size: 14px;
  line-height: 120%;
  background: var(--light-color);
}
.nice-select.has-multiple span.current .remove {
  font-size: 18px;
}
@media (max-width: 576px) {
  .nice-select.has-multiple span.current {
    font-size: 12px;
  }
}
.nice-select.has-multiple .multiple-options {
  display: block;
  margin-left: 0;
  padding: 0;
  line-height: 200%;
}
@media (max-width: 576px) {
  .nice-select.has-multiple {
    font-size: 12px;
  }
}
.nice-select .nice-select-search-box {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 8;
  margin-top: 5px;
  border-radius: 5px 5px 0 0;
  padding: 5px;
  width: 100%;
  -webkit-box-shadow: 0 0 0 1px rgba(68, 88, 112, 0.11);
  box-shadow: 0 0 0 1px rgba(68, 88, 112, 0.11);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--light-color);
  opacity: 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  -o-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  pointer-events: none;
}
.nice-select .nice-select-search {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  outline: 0 !important;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 7px 12px;
  width: 100% !important;
  height: auto;
  min-height: 36px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 22px;
  color: #333;
  background-color: var(--white-color);
}
.nice-select .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  outline: 0;
  padding: 5px;
  padding-right: 29px;
  padding-left: 18px;
  min-height: 40px;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.nice-select .option:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
.nice-select .option.selected {
  font-weight: 700;
}
.nice-select .option.disabled {
  color: #999;
  background-color: transparent;
  cursor: default;
}
.nice-select.open::after {
  margin-top: -4px;
  -webkit-transform: translateY(50%) rotate(0);
  -ms-transform: translateY(50%) rotate(0);
  transform: translateY(50%) rotate(0);
}
.nice-select.open .nice-select-search-box {
  z-index: 10;
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  pointer-events: auto;
}
.nice-select.open .list {
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  pointer-events: auto;
}
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}
.nice-select.disabled::after {
  border-color: #ccc;
}
.nice-select.wide {
  width: 100%;
}
.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right;
}
.nice-select.right .list {
  left: auto;
  right: 0;
}
.nice-select.small {
  height: 36px;
  font-size: 12px;
  line-height: 34px;
}
.nice-select.small::after {
  width: 4px;
  height: 4px;
}
.nice-select.small .option {
  min-height: 34px;
  line-height: 34px;
}

.remove:hover {
  color: var(--red-color);
}

.nice-select.open,
.nice-select:active,
.nice-select:focus {
  border-color: var(--silver-color);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.nice-select .option.focus,
.nice-select .option.selected.focus,
.nice-select .option:hover {
  background-color: var(--mercury-color);
}

.no-csspointerevents .nice-select .list {
  display: none;
}
.no-csspointerevents .nice-select.open .list {
  display: block;
}

.choices {
  width: 100%;
}
.choices__inner {
  border-radius: var(--border-radius);
}
.choices__item .is-highlighted {
  background-color: var(--light-color);
}
.choices__list--multiple .choices__item {
  border-color: var(--border-color);
  border-radius: 5px;
  color: var(--black-color);
  background-color: var(--light-color);
}
.choices__button {
  border-radius: 10px;
  background-color: var(--accent-color);
}
.choices__input {
  margin-left: 2px;
}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
  margin-right: 3px;
  border-radius: 10px;
}

.calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 150px;
}
.calc__label {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .calc__label {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .calc__label {
    margin-right: 0;
    margin-bottom: 5px;
    font-size: 13px;
  }
}
.calc__input {
  margin: 0 5px;
  padding: 10px 12px;
  text-align: center;
}
.calc button {
  min-width: 38px;
  min-height: 38px;
}

.header {
  margin-bottom: 20px;
}
.header__title {
  font-size: 20px;
}

.hero {
  margin-bottom: 20px;
}
.hero__item {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 5px;
  background-color: var(--light-color);
}
.hero__item:not(:last-child) {
  margin-bottom: 10px;
}
.hero__item-info {
  -ms-grid-column-span: 12;
  grid-column: 12 span;
}
.hero__accordion {
  -ms-grid-column-span: 11;
  grid-column: 11 span;
  -ms-grid-row: 1;
  grid-row: 1;
}
.hero__accordion-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__accordion-content span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 5px;
  border-radius: 4px;
  padding: 3px 7px;
  min-width: 25px;
  font-size: 14px;
  line-height: 120%;
  color: var(--light-color);
  background-color: var(--black-color);
}
@media (max-width: 1024px) {
  .hero__accordion-content span {
    min-width: 20px;
  }
}
@media (max-width: 576px) {
  .hero__accordion-content span {
    margin-left: 0;
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .hero__accordion-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.hero__panel {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  -ms-grid-column-span: 12;
  grid-column: 12 span;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}
.hero__bottom {
  margin-top: 10px;
}
.hero__btn {
  -ms-grid-row: 1;
  grid-row: 1;
  min-width: 50px;
}
.hero__left {
  -ms-grid-column-span: 7;
  grid-column: 7 span;
  margin-top: 5px;
}
@media (max-width: 1024px) {
  .hero__left {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.hero__right {
  -ms-grid-column-span: 5;
  grid-column: 5 span;
  margin-top: 5px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1024px) {
  .hero__right {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .hero__right {
    padding: 10px;
  }
}
.hero-calc__item {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 20px;
}
.hero-calc__item:not(:last-child) {
  margin-bottom: 5px;
}
@media (max-width: 1024px) {
  .hero-calc__item {
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .hero-calc__item {
    padding: 10px;
  }
}
.hero-calc__title {
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  .hero-calc__title {
    margin-bottom: 10px;
  }
}
.hero-calc__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.hero-calc__form-item {
  margin-bottom: 6px;
}
.hero-calc__form-item:not(:last-child) {
  margin-right: 25px;
}
@media (max-width: 1024px) {
  .hero-calc__form-item:not(:last-child) {
    margin-right: 20px;
  }
}
.hero-calc__form-item--border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-top: 5px;
  padding-bottom: 7px;
}
.hero-calc__form-item--border input {
  margin-right: 5px;
}
.hero-calc__form-item--border label {
  display: block;
  width: 100%;
}
.hero-calc__form-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero-calc__form-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 15px;
}
.hero-calc__form--material {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.hero-calc__form--diameter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1024px) {
  .hero-calc__form--diameter {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 768px) {
  .hero-calc__form--diameter {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 576px) {
  .hero-calc__form--diameter {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .hero {
    margin-bottom: 10px;
  }
}

.hero__accordion.active ~ .hero__item-info {
  display: none;
}

.distance {
  margin-bottom: 20px;
}
.distance__title {
  margin-bottom: 15px;
}
.distance__form {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  row-gap: 20px;
}
@media (max-width: 768px) {
  .distance__form {
    row-gap: 10px;
  }
}
.distance__label {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
@media (max-width: 768px) {
  .distance__label {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.distance__btn {
  grid-column: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media (max-width: 576px) {
  .distance__btn {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
@media (max-width: 768px) {
  .distance {
    margin-bottom: 10px;
  }
}

.result {
  margin-top: 40px;
}
.result__container {
  padding: 0;
}
.result__btn {
  margin-top: 20px;
  padding: 15px 20px;
  width: 100%;
  font-size: 20px;
}
@media (max-width: 768px) {
  .result__btn {
    margin-top: 10px;
  }
}
@media (max-width: 1024px) {
  .result {
    margin-top: 20px;
  }
}

.result-block__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .result-block__top {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .result-block__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  .result-block__top--hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.result-block__title {
  margin: 0;
  margin-right: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
}
@media (max-width: 1024px) {
  .result-block__title {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .result-block__title {
    font-size: 18px;
  }
}
.result-block__price {
  margin-right: 7px;
  border-radius: var(--border-radius);
  padding: 3px 6px;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  color: var(--light-color);
  background-color: var(--accent-color);
}
@media (max-width: 1024px) {
  .result-block__price {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .result-block__price {
    font-size: 18px;
  }
}
.result-block__add {
  border-radius: var(--border-radius);
  padding: 3px 4px;
  font-weight: 500;
  font-size: 16px;
  color: var(--light-color);
  background-color: var(--black-color);
}
.result-block__list--mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 5px;
}
.result-block__list--mini .result-item {
  padding-bottom: 2px;
}
.result-block__list--mini .result-item:not(:last-child) {
  margin-right: 6px;
  margin-bottom: 0;
  border-right: 1px solid var(--border-color);
  border-bottom: 0;
  padding-right: 5px;
}
.result-block__list--mini .result-item i {
  display: none;
}
@media (max-width: 768px) {
  .result-block__list--mini .result-item i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .result-block__list--mini .result-item i {
    font-size: 12px;
  }
}
.result-block__list--mini .result-item__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
}
@media (max-width: 768px) {
  .result-block__list--mini .result-item__name-text {
    display: none;
  }
}
.result-block__list--mini .result-item__name:not(:last-child) {
  margin-bottom: 0;
}
.result-block__list--mini .result-item__value {
  margin-right: 0;
  white-space: break-spaces;
}
.result-block__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 20px;
}

.result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 12px;
  /* stylelint-disable-next-line order/order */
}
.result-item:not(:last-child) {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}
@media (max-width: 1024px) {
  .result-item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .result-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .result-item:not(:last-child) {
    margin-bottom: 5px;
  }
}
@media (max-width: 768px) {
  .result-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.result-item__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 112.5%;
}
.result-item__value {
  margin-right: 7px;
  margin-left: 3px;
  font-weight: 700;
}
.result-item__value:not(:last-child) {
  margin-bottom: 8px;
}
.result-item__value:first-child {
  margin-top: 5px;
}
.result-item__price {
  margin: 2px 0;
  margin-left: 10px;
  border-radius: 4px;
  padding: 4px 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  color: var(--light-color);
  background-color: var(--black-color);
}
@media (max-width: 768px) {
  .result-item__price {
    margin-left: 0;
  }
}

.coef {
  margin-bottom: 20px;
}
.coef .accordion--btn {
  margin-bottom: 5px;
}
.coef__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: 0 10px;
  background-color: var(--light-color);
}
@media (max-width: 576px) {
  .coef__list {
    padding: 0;
  }
}
.coef__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 10px;
}
.coef__item:not(:last-child) {
  margin-bottom: 5px;
}
.coef__item:first-child {
  margin-top: 10px;
}
@media (max-width: 576px) {
  .coef__item:first-child {
    margin-top: 0;
  }
}
.coef__item:last-child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .coef__item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  .coef__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.coef__title {
  margin-bottom: 15px;
}
.coef__calc {
  min-width: 150px;
}